.bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navigation-bar-box {
    display: flex;
    position: relative;
    margin-left: 5%;
}

.navigation-bar-back {
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}

.navigation-bar-back image {
    height: 60%;
    width: 60%;
    padding: 10% 10% 10% 0;
}

.navigation-bar-title {
    flex-grow: 8;
    font-size: 35rpx;
    color: white;
    font-weight: bold;
    text-align: center;
}