.calendar {
    background-color: white;
    border-radius: 35px;
    overflow: hidden;
    margin: 5% 5% 5% 5%;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.calendar .title {
    width: 100%;
    font-size: 30px;
    margin-bottom: 20px;
}

.calendar .image {
    width: 100%;
    border-radius: 35px;
    overflow: hidden;
}