@import "~taro-ui/dist/style/index.scss"; /*Taro-UI全局样式*/
@import "./static/css/animation.css"; /*动画CSS*/
@import "~taro-ui/dist/style/components/flex.scss";

/*page样式*/
page {
    background-color: #E9F3FF;
}

.card {
    margin: 2% 2% 2% 2%;
    border-radius: 15px;
    align-items: center;
    overflow: hidden;
}